<div class="center jumbotron">
	<h3>RailsSample へようこそ</h3>

	<h2>
    <p>
			このWebサイトは
			<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
			のサンプルアプリケーションを参考に作成されました。<br>
			チュートリアルを参考にしていますが 
      <%= link_to "新機能", help_path %> 
      を追加してあります。<br>
		</p>
	</h2>

   <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
   <%= link_to "簡単ログイン", guest_login_path, class: "btn btn-lg btn-warning" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
