<% provide(:title, "About") %>
<h1>Railsチュートリアルについて</h1>
<p>
  <a href="https://railstutorial.jp/">『Ruby on Railsチュートリアル: RailsでWeb開発を学ぶ』</a> は<br>
  <a href="https://www.learnenough.com/">Learn Enough to Be Dangerous</a> シリーズの一つである 
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> を翻訳した教材であり、 
  <a href="https://yasslab.jp/ja/">YassLab 株式会社</a>によって運営されています。
</p>
  このWebアプリは『Railsチュートリアル: RailsでWeb開発を学ぶ』のサンプルアプリケーションです。
</p>
