<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Railsチュートリアルのサービスを行われている運営者の紹介です。<br>
<br>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
