<% provide(:title, "Help") %>
<h1>Help</h1>
<center>
  Railsチュートリアルのサンプルアプリケーションです。<br>
  ツイッター風の投稿を行うことができます。<br>
<br>
  チュートリアルの機能を参考にしていますが、完全に同一の機能・画面ではありません。<br>
  サンプルユーザーを用意してあるのでユーザの登録を行わずにログインできます。<br>
</center>
<br>
    *注意<br>
    このアプリはサンプルアプリケーションです。<br>
    個人情報に繋がる内容の投稿はご遠慮ください。<br>
<br>
<br>
    * ユーザー登録について<br>
    ユーザー登録の際、メールアドレスは架空のアドレスで構いません。<br>
    本人確認のメールを送ることはありませんので気軽に登録が行えます。<br>
<br>
<br>
    * 記事の投稿について<br>
		アプリのアップデートにより投稿された画像がクリアされることがあります、ご注意ください。<br>
<br>
<br>
    * サンプルユーザーについて<br>
    サンプルユーザーは誰でも気軽に利用するために用意したものです。<br>
    このアカウントは複数名の利用が予想されます。<br>
<br>
    アカウント情報、及び投稿を他の方と分けたい場合は<br>
    ユーザー登録を行った通常通りのご利用をお願いします。<br>
<br>
</p>
<p>
  ～Railsチュートリアルのアプリの参考リンク～<br>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
