<% provide(:title, "Help") %>
<h2>Help</h2>

  <h2>
    <ul class="list-group-item-danger">
      <p>
        【 注意 】<br>
        このアプリはサンプルアプリケーションです。<br>
        個人情報に繋がる内容の投稿はご遠慮ください。<br>
      </p>
    </ul>
  </h2>

<hr>

<h4>
  <ul class="list-group-item-info">
    <p>
      【ユーザー登録について】<br>
      ユーザー登録の際、メールアドレスは架空のアドレスで構いません。<br>
      本人確認のメールを送ることはありませんので気軽に登録ができます。<br>
    </p>
  </ul>
</h4>

<h4>
  <ul class="list-group-item-success">
    <h3>機能追加</span></h3>
    <p>
      【簡単ログイン】<br>
      ワンクリックでログインできます。<br>
      誰でも気軽に利用できるように用意したものです。<br>
      このアカウントは複数名の利用が予想されます。<br>
      また、ユーザー情報(メールアドレス、名前、パスワード等)の変更は行えません。<br>
    <br>
      【怪文書投稿】<br>
       投稿する文章を適当に作ってくれます。<br>
       気軽にボタンを押してください。
    </p>
  </ul>
</h4>
