<% provide(:title, "Help") %>
<h2>Help</h2>

<h4>
  <h3><span class="label label-danger">注意</span></h3>
  <li class="list-group-item">
    <p class="text-danger">
      このアプリはサンプルアプリケーションです。<br>
      個人情報に繋がる内容の投稿はご遠慮ください。
    </p>
  </li>

  <h3><span class="label label-info">新機能</span></h3>
  <li class="list-group-item">
    <p>
      【 簡単ログイン 】<br>
      ワンクリックでログインできます。<br>
      ユーザー登録不要で利用できます。
    </p>
  </li>
  <li class="list-group-item">
    <p>
      【 怪文書投稿 】<br>
      投稿する文章をランダムに作ります。<br>
      気軽にボタンを押してください。
    </p>
  </li>
  <li class="list-group-item">
    <p>
      【 検索フォーム 】<br>
      投稿記事とユーザーの検索ができます。<br>
      怪文書のキーワードを検索して遊んでみてください。
    </p>
  </li>

  <h3><span class="label label-success">補足</span></h3>
  <li class="list-group-item">
    <p>
      【 ユーザー登録について 】<br>
      メールアドレスは架空のアドレスで構いません。<br>
      本人確認のメールを送ることはありません。
    </p>
  </li>
  <li class="list-group-item">
    <p>
      【 ゲストユーザーについて 】<br>
      このアカウントは複数名の利用が予想されます。<br>
      投稿内容にお気を付けください。<br>
      また、ユーザー情報の変更はできません。
    </p>
  </li>
</h4>

